<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ERR0" class="io.err0.logback.Err0Appender">
        <url>https://open-source-dev.err0.io:8443/</url>
        <token>2.f_L5NsMxYdWQx_bv1owREKjxbW80EI4gI5tlcfQSBjJxDNooYcE_GqnuM-iG2H4kmaL9qoU8weNYKrYR5ix59nef3cknJJwXoxuobHu2VyF5FOz3_b65gQ.03QOg06zxjE-qeHle_JzrHoSboao6IzO2euNXM4ihIo</token>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ERR0" />
    </root>

</configuration>