<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ERR0" class="io.err0.logback.Err0Appender">
        <url>https://open-source-dev.err0.io:8443/</url>
        <token>2.hoH2hE12WppUPy7Zp8i94hVSyvUE3U4B4WfQOC86c7jc8Z_bdkxMsgH6ehEBMDjrI1Zh6tXxipzlCU0yyD9dmwQAXWLg98L5xm1dxE0ZVWhdGKzrudXzYw.5r0RcGXSaiESx0XKhxcwHmwjvUNLRaYZkjmW9Ozsp1w</token>
        <realm_uuid>ea3cd958-f46a-11eb-9a03-0242ac130003</realm_uuid>
        <prj_uuid>c8fd1ecc-7d10-11ec-90d6-0242ac120003</prj_uuid>
        <pattern>\[(EG-\d+)\]</pattern>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ERR0" />
    </root>

</configuration>